* {
  font-family: "Times New Roman";
}
body {
  margin : 20px;
}
.heading-1 {
  font-size: 30px;
}
.heading-2 {
  font-size: 25px;
}
.centered-text {
  text-align: center;
}
.bold-text {
  font-weight: bold;
}
.italics-text {
  font-style: italic;
}
.normal-text {
  font-size: 20px;
}
.small-text {
  font-size: 18px;
}
.margin-top-normal {
  margin-top: 20px;
}
.margin-bottom-normal {
  margin-bottom: 20px;
}
.margin-right-small {
  margin-right: 10px;
}
.margin-left-normal {
  margin-left: 0px;
}
.element-center {
  margin:0 auto;
  display:block;
}
.margin-top-extra-large {
  margin-top: 60px;
}
.error-text {
  color: red;
  font-size: 15px;
}
.inline-text {
  display: inline;
}
.align-element-right {
  float: right;
}
#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:50%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
